<h4>
  <%= link_to @question.user.login, user_path(@question.user) %> asks
  <% if current_user && current_user.id == @question.user.id %>
    (<%= link_to "Edit this question", edit_question_path(@question), {:class => "small"} %>)
  <% end %>:
</h4>

<p>
  <i><b><%=h @question.title %></b></i>
</p>
<p class="more_right"> <%= h @question.body %> </p>
<br/>
<!-- #1 -->

<% unless @answers.empty? %>
  <div id="answers">
    <% @answers.each do |answer| %>
      <div class="answer">
        <div class="top"><span class="left"><%= link_to answer.user.login, user_path(answer.user), {:name => answer.id } %> <%= answer.user.country %> 
                <%= answer.created_at.strftime("%a %b %d") %> Answers <%= answer.user.answers.count %></span><span class="right"><a href="#<%= answer.id %>">Link</a>
                <%= link_to "Edit", [:edit, @question, answer] if current_user && (current_user.id == answer.user.id) %></span><div class="clear"></div></div>
        <div class="main"> <%= answer.body %>   </div>
        <div class="bottom"> <%= answer.user.quote %>   </div>
      </div><br/>                  
   
    <% end %>
  </div>
<% end %>
<%= will_paginate(@answers) %>
<% unless @question.links.empty? %>
  <h3>Links: </h3>
  <% @question.links.each do |link| %>
    <a href="<%= link.body%>"><%= link.words %></a>
    <% if your_link?(link) %> 
      (<%= link_to 'Edit', edit_question_link_path(@question, link) %>)
    <%  end %> posted by <%= link_to full_name(link.user), link.user %><br/>
  <% end %>
<% end %>
<!-- #2 -->
<% if current_user && current_user.admin == 1 %>
  <h3> Add a link: </h3>
  <%= render :partial => @link = Link.new(:body => 'http://'), 
     :locals => { :button_name => 'Submit'}%>
  <h3>Answer this question: </h3>
	Some HTML allowed
  <%= render :partial => @answer = Answer.new, 
     :locals => { :button_name => 'Submit'}%>
<% end %>
