<h1>Editing Link</h1>

<%= error_messages_for :link %>

<% form_for [@question, @link] do |f| %>


  <p><label>URL:</label><br/>
  <%= f.text_field :body %></p>
  
  <p><label>Text:</label><br/>
  <%= f.text_field :text %></p>
  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<p><%= link_to 'Delete this question', [@question, @link], 
  :confirm => 'Are you sure?', :method => :delete %></p>
