<h1>Questions</h1>

<center><% form_tag questions_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %></center>
<% form_tag deletes_admin_users_path, :method => :delete do %>
<table class="questions">
  <tr class="even">
	<th></th>
    <th class="question">Question</th>
    <th class="asker">Asker</th>
    <th>Answers</th>
    <th>Last Response</th>
  </tr>
<% for question in @questions %>
	<tr class="<%= cycle('odd', 'even') %>">
	<td><%= check_box_tag "question_ids[]", question.id %></td>
	<td>  <%= link_to question.title.gsub(/<.*?>/,''), [:admin, question] %></td>
	<td>  <%= link_to question.user.login, [:admin, question.user] %></td>
	<td>  <%= question.answers.count  %></td>
	<td><%= link_to question.user.login, [:admin, question.user] %></td>
	<td><%= link_to 'Show', [:admin, question] %></td>
	<td><%= link_to 'Edit', edit_admin_question_path(question) %></td>
	<td><%= link_to 'Destroy', [:admin, question], 
	  :confirm => 'Are you sure?', :method => :delete %></td>
	<td>  blah </td>
	</tr>
<% end %>
 </table>
<%= submit_tag "Delete" %>
<% end %>                        
<%= will_paginate(@questions) %>

